<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供-->
    <bean id="mongodbManager"
          class="com.mitchz.apps.meimei.mongodb.MongodbManager" scope="singleton" lazy-init="false">
        <property name="host" value="192.168.34.125"/>
        <property name="port" value="27017"/>
    </bean>

</beans>